<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ demo.title }}</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body class="{{ demo.class }}">
<div>
  <h1 class="{{ demo.class }}--title">
    {{ demo.title }}
  </h1>
  {% for fixture in fixtures %}
    <div class="{{ demo.class }}--fixture">
      <h2>{{ fixture.title }}</h2>
      <div>
        {% include '../../src/index.twig' with fixture.content %}
      </div>
    </div>
  {% endfor %}
</div>
<script src="../js/index.js"></script>
</body>
</html>
